/* Remove padding and margin */ 
*  
    { 
    margin: 0; 
    padding: 0;  
    font-family: monospace;
}

.backgroundColour{
    background-color: #BFAB8E;
}
/* Add animation to nav bar */
.sidenav {
    height: 300px;
    width: 140px;
    position: fixed;
    margin-left: 50px;
    margin-top: 50px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #BFAB8E;
    overflow-x: hidden;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5px;
    list-style: none;
}

.sidenav a{
    padding: 20px 6px 20px 20px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
}

.sidenav li a:hover{
    background-color: #8C8E8D;
}

ul{
    list-style-type: none;
}

main{
    padding-right: 20%;
    padding-left: 20%;
    background-color: #dccfc2;
}

footer{
    color: black;
    text-align: center;
    line-height: 40px;
    font-family: monospace;
}
p{
    font-size: 14px;
    font-family: monospace;
    padding-top: 10px;

}
h1{
    font-family: monospace;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

h3{
    font-family: monospace;
    font-size:x-large;
    display: inline;
}

h4{
    font-family: monospace;
    font-size:large;
    padding-top: 10px;
}

hr{
    border-color: #8C8E8D;
    margin-left: 65px;
    margin-right: 65px;
}
.workExp{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    height: 450px;
}

.group{
    margin-right: -15px;
    margin-left: -15px;
    height: 150px;
}

.workLists{
    font-family: monospace;
    padding-top: 0px;
    float: right;
    width: 70%;
    /*background-color: pink;*/
    padding-bottom: 5px;
    list-style: none;
    }
    
.headerRight{
    float: right;
}

.headerLeft{
    padding-left: 0px;
}

.inlineHeader{
    display: -ms-inline-grid;
}

.container{
    width: 100%;
    height: 450px;
    margin: 0, auto;
    position: relative;
    text-align: justify;
}

.specialImage{
    clip-path: circle(50%);
    width: 400px;
    height: 400px;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.85);
    margin-top: 100px;
}

.specialImage img{
    width: 475px;
    height: 400px;
    object-fit: cover;
}

.left{
    width: 27%;
    float: left;
    text-align: left;
    line-height: 20px;
    padding-left: 0px;
}

.right{
    width: 21%;
    float: right;
    text-align: right;
    padding-right:0px;
    line-height: 35px;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

.ottawa{
    color:#B79785;
}

/*colours to check location*/
.floatingLeft{
    float: left;
    width: 30%;
    /*background-color: blue;*/
    text-align: middle;
    padding-bottom: 5px;
}

.floatingDate{
    float: left;
    width: 30%;
    /*background-color: yellow;*/
    text-align: middle;
    padding-bottom: 0px;
    padding-top: 0px;
    font-style: italic;
}
.floatingLocation{
    float: left;
    width: 30%;
    /*ackground-color: green;*/
    text-align: middle;
    padding-bottom: 0px;
    padding-top: 5px;
    font-size: 80%;
    font-style: italic;
}
.schoolDegree{
    width: 100%;
    height: 775px;
    position: relative;
    text-align: center;
    overflow:visible;
}

.schoolDegree img{
    border: 10px solid #BFAB8E;
    border-radius: 10px;
    position: static;
    height: 250px;
    width: 250px;
    margin: 25px;
}

.schoolDegree img:hover{
    transform: scale(2.25);
    transition: transform .3s;
}

.degree{
    font-size: 10px;
    text-align: left;
    padding-left: 100px;
}

.stars{
    color: #B79785;
    font-size: 25px;
}

.skills{
    width: 100%;
    height: 500px;
    margin: 0;
    position: relative;
}

.skillsLang li{
    padding-top: 10px;
    font-size: 16px;
    width: 45%
}

.skillsLangRight{
    float: right;
    padding-top: 10x;
    font-size: 16px;
    width: 50%;
    line-height: 37px;
}

.rightSkills{
    float: right;
    text-align: left;
    width: 50%;    
    line-height: 20px;
}

.frenchEnglish{
    font-size: 60%;
}

.contactForm{
    width: 100%;
    height: 400px;
    font-size: 15px;
    padding-left: 15%;
}

form{
    position: relative;
    padding-top: 3%;
}

input{
    border: none;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-bottom-left-radius: 5px;
    background-color: unset;
    outline: none;
    font-family: monospace;
    font-size: 15px;
    color: black;
    width: 300px;
    margin-left: -5px;
}

label{
    position: absolute;
    left: 0;
    color: black;
    transform-origin: 0 0;
    transition: transform 0.2s ease-in-out;
}

input:focus + label, input:not(:placeholder-shown) +label{
    transform: translateY(-15px) scale(0.8);
}

input::placeholder{
    color: transparent;
}

textarea{
    border: none;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-bottom-left-radius: 5px;
    background-color: unset;
    outline: none;
    font-family: monospace;
    font-size: 15px;
    color: black;
    width: 80%;
    margin-left: -5px;
}

textarea:focus + label, textarea:not(:placeholder-shown) + label{
    transform: translateY(-15px) scale(0.8);
}

textarea::placeholder{
    color: transparent;
}

button{
    border: none;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-bottom-left-radius: 5px;
    background-color: unset;
    outline: none;
    font-family: monospace;
    font-size: 15px;
    color: black;
    margin-left: -5px;
}
